.navbar-admin {
  @apply fixed border-gray-200 laptop:w-[73.8%] desktop:w-4/5
  bg-transparent monitor:w-[86.5%] z-30;

  &--mod {
    @apply shadow-2xl bg-clip-padding backdrop-filter backdrop-blur-xl
    bg-opacity-60 p-4 animate rounded-2xl;
  }

  &--resizeWidth {
    @apply laptop:w-[85.5%] monitor:w-[93.7%];
  }

  .left-side {
    .collapse-sidebar {
      @apply w-10 h-10 mr-4 text-gray-600 dark:text-gray-custom-507 dark:hover:bg-gray-custom-508
      dark:hover:text-white;
    }
  }

  .right-side {
    @apply hidden w-full md:block md:w-auto;

    .profile {
      @apply flex items-center;

      &__notification {
        @apply flex items-center;
        i {
          @apply cursor-pointer mr-8 text-xl
          text-[#7e8188] hover:text-gray-600 animate;
        }
      }

      &__info {
        @apply flex cursor-pointer border-l pl-6;
        div {
          @apply flex flex-col;
          p:nth-child(1) {
            @apply font-black text-black dark:text-white;
          }

          p:nth-child(2) {
            @apply text-[#808080] text-[0.7rem] ;
          }
        }
      }
    }
  }
}

