.form-select-input {
  @apply relative mb-4;

  &__title {
    @apply block text-base font-medium text-gray-700;
  }

  &__btn {
    @apply relative w-full
    bg-white
    dark:bg-black dark:text-white border border-gray-300 rounded-md shadow-sm
    pl-3 pr-16 ipad:pr-12 laptop:pr-[4.5rem] py-2 text-left cursor-default
    focus:outline-none focus:ring-1
    focus:ring-black focus:border-black text-sm
  }

  &__options {
    @apply absolute z-30 mt-1 w-full bg-white dark:bg-black dark:text-white shadow-lg max-h-56
    rounded-md py-1 text-base ring-1 ring-black pr-0
    ring-opacity-5 overflow-auto focus:outline-none text-sm;
  }
}

