.btn {
  @apply text-[13px] md:text-sm leading-4 items-center
  transition ease-in-out duration-300
  dark:text-white text-center
  justify-center border-0 border-transparent rounded-lg
  placeholder-white focus-visible:outline-none
  focus:outline-none
  w-auto
  bg-black text-white
  hover:text-white

  hover:opacity-[0.8]

  px-5 md:px-6  py-4 md:py-3.5
  laptop:py-[10px] laptop:px-6 ;

  &__icon {
    @apply mr-2;
    //@apply absolute right-auto top-1/2 flex-center;
  }
}

.btn-group {
  @apply flex items-center text-[13px] ipad:text-sm;
  button:first-child {
    @apply w-8 h-8 md:w-8 md:h-8 laptop:w-10 laptop:h-10
    block text-center border
    rounded-tl-lg rounded-bl-lg
    animate focus:outline-none flex-center;
  }

  p {
    @apply w-8 h-8 laptop:w-10 laptop:h-10
    md:w-8 md:h-8 pt-[4px]
    m-0 border-t border-b text-center flex-center;
  }

  button:last-child {
    @apply block w-8 h-8 laptop:w-10 laptop:h-10
    md:w-8 md:h-8
    rounded-br-lg rounded-tr-lg
    flex-center animate
    text-center border
    focus:outline-none;
  }
}

.btn-icon {
  @apply w-[30px] h-[30px]
  text-gray-400 bg-transparent hover:bg-gray-200
  transition-all duration-300 ease-in-out
  hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto
  inline-flex items-center cursor-pointer
  dark:hover:bg-gray-800 dark:hover:text-white ;
}

.filter-btn {
  @apply block relative text-[#6a6a6a] mb-[12px] w-full leading-6 text-left
  transition-all duration-200 ease-in-out;

  &.is-selected {
    padding-left: 18px;
    color: black;
  }

  &.is-selected::before {
    opacity: 1;
    transition-delay: .1s;
  }

  &::before {
    @apply absolute inline-block w-[6px] h-[6px] rounded-full opacity-0
    bg-[#1c1b1b] left-0 transition duration-100 ease-in-out ;
    content: "";
    top: calc(50% - 3px);
  }
}

.color-btn {
  @apply inline-block w-4 h-4 rounded-[50%] mr-2 border-none
  opacity-[0.5] flex relative items-center justify-center cursor-pointer;

  &-all {
    @apply relative rounded-full;
    background: conic-gradient(#B99374 90deg, #f3eed7 90deg, #cfcdcb 180deg, #7A6255 180deg, #f3eed7 270deg, #7A6255 270deg);
  }

  &-all.active::after, &-all:hover::after,
  &.active::after, &:hover::after {
    @apply absolute rounded-[50%] w-[1.625rem] h-[1.625rem] top-[-0.3rem] left-[-0.3rem];
    content: "";
    border: 0.0625rem solid #383633;
    box-shadow: 0 0.25rem 0.3125rem -0.125rem rgba(71, 69, 67, 0.3);
    transition: all 0.25s;
  }
}
