.stepper {
  @apply w-full  ;

  &__steps {
    @apply ipad:max-w-[60%] flex ipad:ml-36 mb-4;

    .step {
      @apply w-full flex border-none relative;
      div:first-child {
        @apply w-2/5 ipad:w-[96%] rounded-lg border border-[#e5e8eb] ipad:border-[1.5px]
        absolute left-[3rem] top-[35%];
      }

      div:nth-child(2) {
        @apply rounded-[5px] cursor-pointer border border-[#e5e8eb];
        padding: 0.5rem 0.5rem;

        p {
          @apply my-auto mx-auto text-center;
        }
      }
    }

    .step:nth-child(2) {
      @apply ipad:mr-20;
      div:first-child {
        left: 5.5rem;
      }
    }

    .step:nth-child(3) {
      div:first-child {
        @apply hidden;
      }
    }
  }
}

