.btn {
  @apply text-[13px] md:text-sm leading-4 items-center cursor-pointer
  transition ease-in-out duration-300
  font-light text-center
  justify-center border-0 border-transparent rounded-md placeholder-white focus-visible:outline-none
  focus:outline-none
  bg-black text-white px-5 md:px-6 lg:px-8 py-4 md:py-3.5 lg:py-4 hover:text-white
  hover:opacity-[0.8] w-full sm:w-auto
}

.btn-group {
  @apply flex items-center text-[13px] ipad:text-sm;
  button:first-child {
    @apply w-8 h-8 laptop:w-10 laptop:h-10
    md:w-8 md:h-8
    cursor-pointer text-center border laptop:pb-.5
    rounded-tl-lg
    transition ease-in-out duration-300
    rounded-bl-lg
    hover:bg-gray-800 hover:text-white
    focus:outline-none
    flex-center
  }

  p {
    @apply w-8 h-8 laptop:w-10 laptop:h-10
    md:w-8 md:h-8
    m-0 border-t border-b text-center
    flex-center
  }

  button:last-child {
    @apply rounded-tr-lg
    flex-center
    rounded-br-lg
    w-8 h-8 laptop:w-10 laptop:h-10
    md:w-8 md:h-8
    transition ease-in-out duration-300
    cursor-pointer text-center border laptop:pb-.5
    hover:bg-gray-800 hover:text-white
    focus:outline-none
  }
}

.btn-close {
  @apply w-[30px] h-[30px]
  text-gray-400 bg-transparent hover:bg-gray-200
  hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto
  inline-flex items-center cursor-pointer
  dark:hover:bg-gray-800 dark:hover:text-white ;
}