.navbar {
  @apply fixed w-full z-40 h-[64px] ipad:h-20 laptop:h-24 px-6 bg-white
  transition duration-300 ease-in-out;
  &__container {
    @apply desktop:px-0 ipad:px-4 h-full
    flex flex-row laptop:flex-row items-center justify-between ;
  }
}

.navbar-left {
  @apply flex items-center;
  &__logo {
    @apply max-w-48
    sm:max-w-none mr-4;
  }

  &__links {
    @apply hidden laptop:block;
  }
}

.navbar-links {
  @apply flex flex-row mt-1;

  &__item {
    @apply mr-4 relative cursor-pointer;

    .item-title {
      @apply p-[10px] hover:bg-gray-200 transition duration-200 ease-in-out rounded-xl
       mb-0 text-left text-smaller;
    }
    .item-content {
      @apply hidden absolute bg-white w-52 z-40 shadow-2xl rounded-lg;

      &__title {
        @apply transition duration-200 ease-in-out
        mb-0 text-left text-smaller;
      }
    }
  }
}


.navbar-right {
  &__info {
    @apply flex cursor-pointer;
    div {
      @apply mr-3 text-right flex flex-col;
      p:nth-child(1) {
        @apply font-black text-black
      }

      p:nth-child(2) {
        @apply text-[#808080] text-[0.7rem];
      }
    }

    //img {
    //  @apply h-10 rounded-lg;
    //}
  }

  &__profile {
    @apply ml-3 relative z-[9999999] transition-all duration-300 ease-in-out ;
    div {
      @apply origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg;
      div {
        @apply rounded-md bg-white shadow-2xl;
        a {
          @apply block px-4 py-2 text-sm leading-5 text-[#8a8a8a] hover:bg-gray-100 hover:text-black focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out;
        }
      }
    }
  }
}

