.stepper {
  @apply w-full p-4 ;

  &__steps {
    //@apply w-[60%] grid lg:grid-cols-3 gap-y-4 gap-x-4;
    @apply max-w-[60%] flex ml-20 ;

    .step {
      @apply w-full;
      div:first-child {
        @apply rounded-[5px] cursor-pointer border border-gray-100;
        padding: 0.5rem 0.5rem;

        p {
          @apply my-auto mx-auto text-center;
        }
      }

      div:nth-child(2) {
        @apply w-[96%] rounded-lg border-black border-2 absolute left-[3rem] top-[35%];
      }

    }
    .step:nth-child(2) {
      @apply mr-20;
      div:nth-child(2) {
        @apply w-full rounded-lg border-2 absolute left-[6rem] top-[35%];
      }
    }
    .step:nth-child(3) {
      div:nth-child(2) {
        @apply hidden;
      }
    }
  }
}

.dot-step {
  @apply inline relative text-[#6a6a6a] leading-6 text-left
  transition-all duration-200 ease-in-out;

  &::after {
    @apply absolute inline-block w-[6px] h-[6px] rounded-full
    bg-[#7e8a88] left-0 transition duration-100 ease-in-out ;
    content: "";
    top: calc(50% - 3px);
  }

  &.is-selected::after {
    @apply opacity-[1] bg-black;
    transition-delay: .1s;
  }

  &.is-selected {
    @apply text-black;
  }

  &.is-selected::before {
    @apply opacity-[1] ;
    transition-delay: .1s;
  }

  &::before {
    @apply absolute inline-block w-[6px] h-[6px] rounded-full opacity-0
    bg-[#1c1b1b] left-0 transition duration-100 ease-in-out ;
    content: "";
    top: calc(50% - 3px);
  }
}


