@tailwind base;

@import "./components/form";
@import "./components/table";
@import "./components/button";
@import "./components/drawer";
@import "./components/stepper";
@import "./components/navbar";
@import "./components/footer";
@import "./components/badge";
@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "Eina";
  src: url("/fonts/Eina.otf");
}

@font-face {
  font-family: "Eina Light";
  src: url("/fonts/Eina-Light.otf");
}

@font-face {
  font-family: "Eina SemiBold";
  src: url("/fonts/Eina-SemiBold.otf");
}

@layer base {

  p, h1, h2, h3, h4, h5, label {
    color: rgba(0, 0, 0, .8);
    font-family: Eina;
  }
}

.flex-center {
  @apply flex justify-center items-center;
}

.animate {
  @apply transition-all duration-500 ease-in-out;
}


.ql-toolbar.ql-snow {
  border-radius: 4px 4px 0 0;
  //border: 1px solid ${color.borderLightest};
  border: 1px solid gray;
  border-bottom: none;
}
.ql-container.ql-snow {
  border-radius: 0 0 4px 4px;
  //border: 1px solid ${color.borderLightest};
  border: 1px solid gray;
  border-top: none;
  //color: ${color.textDarkest};
  color: #111111;
  font-size: 15px;
  //${font.size(15)}
  //${font.regular}
}

.ql-editor {
  min-height: 110px;
}

#editor-container {
  height: 375px;
}

